{% set device = hostvars[inventory_hostname] %}

feature bgp
router bgp {{ device.asn }}
  router-id  {{ device.interfaces.loopback0.ipv4 }}
  address-family ipv4 unicast
{% for networks in device.bgp_networks %}
    network {{ networks }}
{% endfor %}
{% for nbr, neighbor in device.bgp_neighbor.items() %}
  neighbor {{ nbr }} remote-as {{ neighbor.remote_asn }}
    description {{ neighbor.description }}
    soft-reconfiguration inbound
{% if neighbor.bfd is defined and 'True' in neighbor.bfd %}
    bfd fast-detect
    bfd multiplier 3
    bfd minimum-interval 300
{% endif %}
{% endfor %}
