{% set device = hostvars[inventory_hostname] %}

feature bgp
feature bfd
router bgp {{ device.asn }}
  router-id {{ device.interfaces.loopback0.ipv4 }}
  address-family ipv4 unicast
{% for networks in device.bgp_networks %}
    network {{ networks }}
{% endfor %}
{% for nbr, neighbor in device.bgp_neighbor.items() %}
  neighbor {{ nbr }} remote-as {{ neighbor.remote_asn }}
    description {{ neighbor.description }}
{% if neighbor.bfd is defined and 'True' in neighbor.bfd %}
    bfd interval 300 min_rx 300 multiplier 3
{% endif %}
    address-family ipv4 unicast
      soft-reconfiguration inbound
{% endfor %}
